*, ::after, ::before {
  box-sizing: border-box;
}

body {
  padding: 10px;
}

input {
  margin-bottom: 10px;
}

.nodes-list {
  height: 300px !important;
  overflow-y: scroll;
  border: 1px solid #000;
}

.nodes-list {
  height: 100%;
}

/* li { */
/*   height: 20px !important; */
/* } */
